<div class="sidebar">
    <div class="name_event">
      <p class="text_slaca">SLACA 2019</p>
    </div>
  
    <div class="menu_logo">
      <img src="assets/logoSlaca.svg" alt="" srcset="" />
    </div>
  
    <div class="menu_item">
      <p>Apresentação</p>
      <div class="menu_item_bar"></div>
    </div>
    <div class="menu_item">
      <p>Comitê</p>
      <div class="menu_item_bar"></div>
    </div>
    <div class="menu_item">
      <p>Autores</p>
      <div class="menu_item_bar"></div>
    </div>
    <div class="menu_item">
      <p>Eixos temáticos</p>
      <div class="menu_item_bar"></div>
    </div>
    <div class="menu_item">
      <p>Trabalhos</p>
      <div class="menu_item_bar"></div>
    </div>
    <div class="menu_item">
      <p>Contato</p>
      <div class="menu_item_bar"></div>
    </div>
  </div>
  