<div class="news">

  <h2>
    Análise sensorial de preparações funcionais desenvolvidas para escolares <br>
    entre 09 e 15 anos, do município de Campinas/SP
  </h2>

  <div class="container">
   <img class="video" src="../../../assets/video.png" alt="">
   <div class="videoOverlay">
    <div>
    <h3>
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15 anos, do município de Campinas/SP
    </h3>
    </div>
    <div></div>
    <div class="infoVideo">
        <div class="border">
        <img src="../../../assets/profile.png" alt="">
        </div>
        <div class="text" >
        <h4>Beatriz Christiane Melo <br>
        <span>FCA / Universidade Estadual de Campinas</span>

        </h4>
    </div>
    </div>
  </div>
  </div>


</div>
