<header>
    <div class="titles">
      <h1>
        Anais do Simpósio Latino Americano de Ciências de Alimentos
  
        <span
          >Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span
        >
        <br>
        ISSN: 1234-5678
      </h1>
    </div>
    <button>
      <img src="assets/iconLanguageBtn.svg" />
      <p>PT, BR <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#333333" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0"/>
      </svg>
      
  
    </button>
  
    <div class="login">
      <div class="user_info">
        <div class="user_text">
          <span>Bem-vindo!</span>
          alguem12@galoascience.com
        </div>
        <img src="assets/imgLogin.svg" />
        <div class="notification_circle">2</div>
      </div>
    </div>
  </header>
  