@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap');

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;

}

app-side-bar{
  position: fixed;
}

main {
  margin-left: 220px;
  width: 100%;

}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .col-3{
    display: grid;
    grid-template-rows: auto auto;

    .row-1{
      flex: 1;
    }

    .row-2{
      flex: 2;
      display: flex;
      justify-content: end;
      padding-right: 18px;

      
    }

  }

  .fav-btn{
    width: 43px;
    height: 31px;

  } 

  h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ed7839;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 1px;
    padding-right: 20px;
  }

  .buttons {
    display: flex;
    padding-right: 18px;
    justify-content: end;
    

    

    .btn-download {    

      p {
        padding-left: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .discussion{
    display: grid;
    grid-template-rows: auto auto auto;
  }
}

* {
  margin: 0;
  padding: 0;
}
