<div class="topic-response">
  <div class="content">
    <div class="headerTopicAutor">
      <h5>Adriano da Silva</h5>

      <h6>Autor</h6>
      <img src="../../../../../assets/checkedIcon.svg" alt="checked" />
    </div>
    
    <div class="textAutor">
      <p>
        Resposta do autor é aqui. Relato inscreve-se no campo da análise da
        dimensão e impacto de processo formativo situado impacto de processo
        formativo processo resente relato inscreve-se no campo da análise da
        dimensão e impacto de processo formativo situado impacto de processo
        formativo processo.
      </p>
    </div>
  </div>
</div>
